<launch>
  <arg name="image" default="/stereo/left/image_rect_color" />
  <arg name="gpu" default="0"/>
  <!-- detector params -->
  <arg name="score_thresh" default="0.75"/>
  <arg name="eco_mode" default="true" />
  <arg name="visualize" default="false" />

  <!-- file paths -->
  <arg name="model" default="hand" />
  <!-- <arg name="model" default="fcsc" /> -->

  <!-- object detector -->
  <node pkg="aero_object_detector" type="object_detector_chainer.py"
        name="hand_detector" output="screen" respawn="true">
    <remap from="image" to="$(arg image)" />
    <rosparam subst_value="true">
      model_name : $(arg model)
      gpu: $(arg gpu)
      score_thresh: $(arg score_thresh)
      eco_mode: $(arg eco_mode)
      eco_hz: 1.0
      boost_hz: 30.0
      visualize: $(arg visualize)
    </rosparam>
  </node>
  <node pkg="aero_object_detector" type="object_3d_projector" name="hand_3d_projector" output="log" respawn="true">
    <remap from="~input_cloud" to="/stereo/points2" />
    <remap from="~input_boxes" to="/hand_detector/boxes" />
    <remap from="~input_info" to="/stereo/left/camera_info" />
    <remap from="~input_image" to="/hand_detector/image" />
    <rosparam subst_value="true">
      mode : 0
      window_size : 20
      search_step : 10
    </rosparam>
  </node>

</launch>
